{% extends 'base.html' %}
{% block content%}
  <div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img"  style="border-radius: 50% ; width: 140px; height: 140px" src="{{student.passport.url}}" alt="student dp">
              <h3>{{student.surname}} {{student.last_name}}</h3>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1">Student ID:</strong>{{student.matric_number}}</p>
              <p class="mb-0"><strong class="pr-1">Course:</strong>{{student.course}}</p>
              <p class="mb-0"><strong class="pr-1">Level:</strong>{{student.level}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Program</th>
                  <td width="2%">:</td>
                  <td>{{student.program}}</td>
                </tr>
                <tr>
                  <th width="30%">Email</th>
                  <td width="2%">:</td>
                  <td>{{student.email}}</td>
                </tr>
                <tr>
                  <th width="30%">Phone Number</th>
                  <td width="2%">:</td>
                  <td>{{student.phone_number}}</td>
                </tr>
                <tr>
                  <th width="30%">Date of Birth	</th>
                  <td width="2%">:</td>
                  <td>{{student.dob}}</td>
                </tr>
                <tr>
                  <th width="30%">Gender</th>
                  <td width="2%">:</td>
                  {% if student.male %}
                  <td>Male</td>
                  {% endif %}
                  {% if student.female %}
                  <td>Female</td>
                  {% endif %}
                </tr>
                <tr>
                  <th width="30%">Status</th>
                  <td width="2%">:</td>
                  <td>{{student.status}}</td>
                </tr>
                <tr>
                  <th width="30%">Country</th>
                  <td width="2%">:</td>
                  <td>{{student.country}}</td>
                </tr>
              </table>
            </div>
          </div>
            <div style="height: 26px"></div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Details</h3>
            </div>
            <div class="card-body pt-0">
               <table class="table table-bordered" style="width:500px ;">
                <tr>
                  <th width="30%">Place of Birth</th>
                  <td width="2%">:</td>
                  <td>{{student.place_of_birth}}</td>
                </tr>
                <tr>
                  <th width="30%">Nationality at Birth</th>
                  <td width="2%">:</td>
                  <td>{{student.nationality_at_birth}}</td>
                </tr>
                <tr>
                  <th width="30%">Address</th>
                  <td width="2%">:</td>
                  <td>{{student.address}}</td>
                </tr>

               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Id Card</h2>
  <hr>
  <div class="container">
    <div class="padding">
        <div class="font">
            <div class="top">
                <img src="{{student.passport.url}}" style="border-radius: 50% ;">
            </div>
            <div class="bottom">
              <br>
                <p>{{student.surname}} {{student.last_name}} <br> {{student.matric_number}}</p><br>
                <div class="barcode">
                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=127.0.0.1:8000/{{student.uid}}" style="width: 140px; margin-left: 50px;">
                </div>
                <br>
                
            </div>
        </div>
    </div>
    <div class="back">
        <h1 class="Details">information</h1>
        <hr class="hr">
        <div class="details-info">
            <p><b>Email : </b></p>
            <p>{{student.email}}</p>
            <p><b>Phone No: </b></p>
            <p>{{student.phone_number}}</p>
            <p><b>Home Address:</b></p>
            <p>{{student.address}}</p>
            </div>

            
            <hr>
        </div>
    </div>
</div>
</div>
{% endblock %}